<ul class="social">
	{% if site.cv %}
    	<li><a href="{{ site.cv }}" title="Download my CV" class="fa fa-file-pdf-o fa-3x"></a></li>
	{% endif %}
	{% if site.twitter %}
    	<li><a href="http://www.twitter.com/{{ site.twitter }}" title="Follow me on Twitter" class="fa fa-twitter fa-3x"></a></li>
	{% endif %}
	{% if site.github %}
    	<li><a href="http://www.github.com/{{ site.github }}" title="Fork me on Github" class="fa fa-github fa-3x"></a></li>
	{% endif %}
	{% if site.facebook %}
    	<li><a href="http://www.facebook.com/{{ site.facebook }}" title="Befriend me on Facebook" class="fa fa-facebook fa-3x"></a></li>
	{% endif %}
	{% if site.skype %}
    	<li><a href="skype:{{ site.skype }}" title="Add me as a Skype contact" class="fa fa-skype fa-3x"></a></li>
	{% endif %}
	{% if site.email %}
    	<li><a href="mailto:{{ site.email }}" title="Send me an email" class="fa fa-envelope-o fa-3x"></a></li>
	{% endif %}
</ul>